footer {
    height: 120px;
    background-color: var(--primary-color);
    padding: 10px;
}

main {
    height: 100vh;
    margin-top: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-top: 2px solid black;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: underline;
    color: white;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: relative;
}