nav {
  color: white;
  font-size: 25px;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 2px solid black;
}

#nav-tiles-wrapper {
  display: flex;
  width: 100%;
}

.nav-tile {
  user-select: none;
  background-color: var(--primary-color);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.4s ease;
}

.nav-tile:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

#nav-tile-logo {
  width: 400px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-color);
  z-index: 1;
  width: 100%;
  transition: opacity 0.4s ease;
  opacity: 0;
}

.nav-tile:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown-content div {
  cursor: pointer;
  text-align: center;
  transition: background-color 0.4s ease;
  padding: 8px 0 8px 0;
}

.dropdown-content div:hover {
  background-color: var(--secondary-color);
}

#account-div p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.user-title {
  font-size: 13px;
}

@media (max-width: 768px) {
  .nav-tile {
    font-size: 18px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
  }

  #nav-tile-logo {
    width: 100%;
  }

  #nav-tiles-wrapper {
    flex-direction: column;
  }

  .nav-tile {
    height: 40px;
  }
}
