section {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-div {
  width: 500px;
  height: 800px;
  margin: 100px 0 100px 0;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 17px 0px rgb(55, 55, 55);
  -moz-box-shadow: 0px 0px 17px 0px rgb(51, 51, 51);
  box-shadow: 0px 0px 17px 0px rgb(54, 54, 54);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  font-size: 19px;
  color: var(--primary-color);
}

.input-wrapper label {
  font-size: 23px;
}

button {
  width: 240px;
  height: 40px;
  background-color: white;
  color: var(--primary-color);
  font-size: 23px;
  border-radius: 5px;
  border: 0;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

p {
  font-size: 15px;
  text-align: center;
}

#competition-name {
  font-size: 23px;
}

.input-wrapper select {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  font-size: 19px;
  color: var(--primary-color);
  background-color: white;
}

form {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#athlete-input {
  height: 90px;
}

#multiple-users-select-info {
  margin-top: -30px;
  margin-bottom: -30px;
}

@media (max-width: 768px) {
  #main-div {
    width: 260px;
    height: 350px;
  }

  .input-wrapper input {
    width: 220px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
  }

  .input-wrapper label {
    font-size: 20px;
  }

  button {
    width: 110px;
    height: 35px;
    background-color: white;
    color: var(--primary-color);
    font-size: 20px;
  }

  #athlete-input {
    height: 65px;
  }

  #multiple-users-select-info {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
  }
}
