#competitions-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
}

#competitions-list div,
#list-title {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  padding: 10px;
}

.list-item {
  width: 20%;
  font-size: 18px;
}

#list-title {
  background-color: var(--secondary-color) !important;
}

button {
  width: 150px;
  height: 40px;
  background-color: white;
  color: var(--primary-color);
  font-size: 18px;
  border-radius: 5px;
  border: 0;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

@media (max-width: 768px) {
  button {
    width: 60px;
    height: 50px;
    font-size: 13px;
  }

  .list-item {
    font-size: 14px;
  }
}
