<section>
  <div id="login-div">
    <div class="input-wrapper">
      <label for="email-input">Email</label>
      <input type="email" name="email-input" id="email-input" />
    </div>

    <div class="input-wrapper">
      <label for="password-input">Password</label>
      <input type="password" name="password-input" id="password-input" />
    </div>

    <button>Log In</button>

    <p>
      Are you a club or staff couch and don't have an account? Contact us:
      <a href="mailto:admin@sudotournamenthub.com"
        >admin&#64;sudotournamenthub.com</a
      >
    </p>
  </div>
</section>
