:root {
  --primary-color: rgb(53, 53, 53);
  --secondary-color: rgb(212, 182, 13);
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  margin: 0;
  width: 100%;
  min-width: 400px;
}