<section>
    <div id="add-competition-div" [formGroup]="addCompetitionForm">
        <div class="form">
            <div class="left">
                <div class="input-wrapper">
                    <label for="competition-name-input">Competition Name</label>
                    <input type="text" formControlName="competitionName" id="competition-name-input">
                </div>

                <div class="input-wrapper">
                    <label for="start-date-input">Start Date</label>
                    <input type="date" min="{{todayDate}}" max="{{this.addCompetitionForm.value.endDate}}"
                        formControlName="startDate" id="start-date-input">
                </div>

                <div class="input-wrapper">
                    <label for="end-date-input">End Date</label>
                    <input type="date" min="{{this.addCompetitionForm.value.startDate || todayDate}}"
                        formControlName="endDate" id="end-date-input">
                </div>

                <div class="input-wrapper">
                    <label for="competition-rank-input">Competition Rank</label>
                    <select formControlName="competitionRank" id="competition-rank-input">
                        <option *ngFor="let rank of competitionRanks" [value]="rank">{{ rank }}</option>
                    </select>
                </div>
            </div>

            <div class="right">
                <div class="input-wrapper">
                    <label for="season-input">Season</label>
                    <select formControlName="season" id="season-input" (change)="onSeasonChange($event)">
                        <option *ngFor="let season of seasons" [value]="season.id">{{ season.name }}</option>
                    </select>

                </div>


                <div class="input-wrapper">
                    <label for="category-input">Category</label>
                    <div id="category-input">
                        <div *ngFor="let category of ageCategories; let i = index" class="age-category">
                            <mat-checkbox class="checkbox-wrapper age-category">
                                {{ category.ageCategoryName }} ({{ category.gender }})
                            </mat-checkbox>
                            <div class="weight-category">
                                <mat-checkbox *ngFor="let weightCategory of getWeightCategories(category.id)"
                                    class="checkbox-wrapper weight-category">
                                    {{ weightCategory.weightUpperLimit <= 0 ? 'Open Weight' : 'Up to ' +
                                        weightCategory.weightUpperLimit + 'kg' }} </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>


        <button [disabled]="!this.addCompetitionForm.valid" (click)="submitForm()">Add Competition</button>
    </div>
</section>