<section>
    <div id="add-athlete-div">
        <div class="input-wrapper">
            <label for="first-name-input">First name</label>
            <input type="text" name="first-name-input" id="first-name-input">
        </div>

        <div class="input-wrapper">
            <label for="second-name-input">Second name</label>
            <input type="text" name="second-name-input" id="second-name-input">
        </div>

        <div class="input-wrapper">
            <label for="club-input">Club</label>
            <select name="club-input" id="club-input">
                <option>Club 1</option>
                <option>Club 2</option>
                <option>Club 3</option>
            </select>
        </div>

        <div class="input-wrapper">
            <label for="gender-input">Gender</label>
            <select name="gender-input" id="gender-input">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        
        <div class="input-wrapper">
            <label for="birth-date-input">Birth date</label>
            <input type="date" name="birth-date-input" id="birth-date-input">
        </div>

        <button>Add Athlete</button>
    </div>
</section>